body {
	background-color: #000000;
}
.box {
	width:500px;
	margin: 75px auto;
	text-align: center;
	padding: 20px;
	background-color: #000000;
}
h1 {
	font: bold normal 1.7em;
	font-family: Helvetica, sans-serif;
	margin: 0px 100px 15px;
	padding: 13px;
	border-bottom: 1px solid #ddd;
	border-radius: 6px;
	color: transparent;
	text-shadow: -9px 0 5px rgba(255,255,255,0.3), 9px 0 5px rgba(255,255,255,0.3), 21px 0 5px rgba(255,255,255,0.1), -21px 0 5px rgba(255,255,255,0.1), 0 0 0 rgba(0,0,0,0.0);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
h1:hover {
	color: #CCCCFF;
	text-shadow: 1px 4px 6px #131313, 0 0 0 #000, 1px 4px 6px #131313;
}
input.text {
	background:#F9f9f9 url(none) repeat scroll 0%;
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #999999;
	font-size:0.9em;
	padding:5px;
	width:320px;
	border-radius: 3px;
}
input.button {
	font-size:0.9em;
	background-color: #CCCCFF;
	border-radius: 10px;
	font-family: Helvetica, sans-serif;
	width: 100px;
	margin: 2px 0;
	padding: 5px;
}
p {
	color: #CCCCFF;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	font-color: #CCCCFF;
}
#nav {
	background-color:#262626;
	width:100%;
	height:50px;
	box-shadow: 0px 1px 50px #5E5E5E;
	position:fixed;
	top:0px;
}
.title {
	color: rgba(10,60,150, 0.8);
	font-family:verdana;
	font-size:25px;
	width:350px;
	margin-top:6px;
	margin-left:150px;
	font-weight:bold;
	float:left;
	text-shadow: #131313 -1px -1px 0, #000 0 0 0, #131313 1px 1px 0;
}
#navigation {
	list-style-type:none; 
}
li {
	display:inline;
	padding:10px;
}
#nav a {
	font-family:verdana;
	text-decoration:none;
	color:#EDEDED;
} 
#nav a:hover {
	color:#BDBDBD;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 6em;
	line-height: 1em;
}